.home-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.unorderd-list-container {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
